.idea/
.vscode/

node_modules/
dist/
build/

src/**/*.gql
example.gql

test/coverage/
test/uploads/*
!test/uploads/test-image.jpg

tmp/
temp/

uploads/
sample.sh
pnpm-lock.yaml
cli

docker-test.env

dockerscript.txt

.env
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
/lambda
**/.terraform.*
